.playbutton {
    margin-top:25%;
    margin-left:45%;
}
.title {
    margin-top:5%;
    margin-left: 39%;

}
body {
    background: url(parchment.jpg) ;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#tr1 {
    height:550px;

}

.table1 {
    width: 100%;
    font-size: 150%;
    text-align:center;

}
