.playbutton {
    margin-top:10%;
    margin-left:45%;
}
.title {
    margin-top:10%;
    margin-left: 10%;

}
#body1 {
    background: url(parchment.jpg) ;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
#body2 {
     background: url(street.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#tr1 {
    height:550px;

}

.table1 {
    width: 100%;
    font-size: 150%;
    text-align:center;

}
.relative{position:relative; width:500px;}

.absolute-text{position:absolute; bottom:300;left:-100; font-size:24px;

padding:10px 20px; width:100%; text-align:center;}

